.forget_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  padding: 0 1rem;
}
.title {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 53.24px;
  color: #5b5b5b;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.para {
  font-size: 16.11px;
  line-height: 39.17px;
  font-weight: 400;
  color: #3a3a3a;
  text-align: center;
}
.inputfield {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  line-height: 42.61px;
}
.mobile_number {
  font-size: 16.07px;
  font-weight: 400;
  line-height: 39.11px;
  color: #b9b9b9;
}
.inputfield input {
  border: none;
  width: 10rem;
  border-bottom: 0.1rem solid #17456b;
  gap: 1rem;
  outline: none;
  text-align: center;
}
.otp_number {
  color: #b9b9b9;
  text-align: center;
  line-height: 37.88px;
  font-size: 16.1px;
  font-weight: 400;
}
.number {
  color: black;
}
.resend_otp {
  color: #17456b;
  text-decoration: none;
}
.btn_forget {
  text-align: center;
}
.btn_forget > button {
  background-color: #17456b;
  border: none;
  width: 271px;
  border-radius: 6px;
  padding: 1rem;
  color: white;
  cursor: pointer;
  margin-top: 2rem;
}
.icon{
  padding-right: 1rem;
}
@media only screen and (min-width: 600px) {
  .title {
    font-size: 42.25px;
  }
  .para {
    font-size: 26.11px;
  }
  .mobile_number {
    font-size: 26.07px;
  }
  .inputfield input {
    width: 20rem;
  }
  .otp_number {
    font-size: 22.1px;
  }
  .resend_otp {
    color: #17456b;
  }
}
